:root {
  --color-primary: #cecece;
  --color-primary-accent: #fff;
  --color-secondary: #000;
  --color-input-primary: var(--color-primary);
}
// lib
:root {
  --color-alice-blue: #ebf3fa;
  --color-police-blue: #31456a;
  --color-bright-black: #202225;
  --color-main-shaft: #323232;
}
